#miniloco {
    border: 1px solid gray;
    background-color: white;
    position: relative;
}

.square-wrapper {
    position: absolute;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px;
    
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
}

.assignment-square {
    background-color: white;
    position: relative;
}

.assignment-index {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    color: white;
    background-color: black;
}

#assignment-wrapper {
}

@page {
    size: landscape;
    margin: 0;
    padding: 0;
}