#toolbar-wrapper {
    background-color: var(--background-light);
    
    padding-top: 4px;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--border-color);
}

#toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: flex-start;
    
}
            
.tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
        
    max-width: 80px;
    margin: 0px 2px;
    box-sizing: content-box;
    
    border: 1px solid transparent; 
    
    cursor: pointer;
    
    transition: background-color 0.5s, border 0.5s;
}

.tool-item:hover{
    background-color: rgb(216,230,242);
    border: 1px solid rgb(192,220,243);
}

.tool-seperator {
    border-left: 1px solid rgb(225,225,225);;
    margin-left: 8px;
    margin-right: 8px;
    align-self: stretch;
}
            
.tool-item-icon {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.tool-item-description {
    text-align: center;
    margin: 2px 0px;
    font-size: 12px;
}
            
#new-icon {
    background-image: url("../images/icons/80/icons8-file.png");
}

#open-icon {
    background-image: url("../images/icons/80/icons8-open.png");
}

#save-icon {
    background-image: url("../images/icons/80/icons8-save.png");
}

#saveas-icon {
    background-image: url("../images/icons/80/icons8-save-as.png");
}

#print-icon {
    background-image: url("../images/icons/80/icons8-print.png");
}

#png-icon {
    background-image: url("../images/icons/80/icons8-png.png");
}

#pdf-icon {
    background-image: url("../images/icons/80/icons8-pdf.png");
}